* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
body .main {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 50vh;
  width: 50%;
  gap: 10px;
}
body .main .main_subscription, body .main .main_title {
  font-style: italic;
}
body .main_title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
}
body .main_subscription {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: blue;
}
